

.container{
    color: var(--text-color);
}

.container  h2{
    color: var(--secondary-color);

}
.mission__container{
    color: var(--text-color);
}

.team__container{
    color: var(--text-color);
}

.heading{
    text-align: center;
}

.content{
    text-align: center;
    padding: auto;
    margin-top: 15px;
}